app.menufaz.com {
  encode gzip

  @api path /api/*
  handle @api {
    reverse_proxy api:3001
  }

  handle_path /downloads/* {
    root * /srv/downloads
    header Content-Type application/octet-stream
    header X-Menufaz-Download "1"
    @tablet_apk path /menufaz-tablet-pdv-latest.apk
    header @tablet_apk Content-Disposition "attachment; filename=\"menufaz-tablet-pdv-latest.apk\""
    @print_exe path /menufaz-print.exe
    header @print_exe Content-Disposition "attachment; filename=\"menufaz-print.exe\""
    file_server
  }

  handle {
    reverse_proxy frontend:8080
  }
}

http://localhost, http://127.0.0.1 {
  encode gzip

  @api path /api/*
  handle @api {
    reverse_proxy api:3001
  }

  handle_path /downloads/* {
    root * /srv/downloads
    header Content-Type application/octet-stream
    header X-Menufaz-Download "1"
    @tablet_apk path /menufaz-tablet-pdv-latest.apk
    header @tablet_apk Content-Disposition "attachment; filename=\"menufaz-tablet-pdv-latest.apk\""
    @print_exe path /menufaz-print.exe
    header @print_exe Content-Disposition "attachment; filename=\"menufaz-print.exe\""
    file_server
  }

  handle {
    reverse_proxy frontend:8080
  }
}
